/.metadata/
Java2/src/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Java2/src/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Java2/src/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Java2/src/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Java2/src/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
Java2/src/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Java2/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
Java2/src/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Java2/src/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
Java2/src/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
Java2/src/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
Java2/src/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Java2/src/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Java2/src/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Java2/src/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Java2/src/.metadata/.plugins/org.eclipse.m2e.logback/0.log
Java2/src/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
Java2/src/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Java2/src/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Java2/src/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
Java2/src/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Java2/src/.metadata/.plugins/org.eclipse.ui.intro/introstate
Java2/src/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Java2/src/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Java2/src/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Java2/src/.metadata/.lock
Java2/src/.metadata/.log
Java2/src/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Java2/src/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Java2/src/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Java2/src/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Java2/src/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Java2/src/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Java2/src/.metadata/version.ini
Java2/src/module-info.java
Java2/src/oppsexm/.classpath
Java2/src/oppsexm/.project
Java2/src/oppsexm/exm11.java
Java2/src/oppsexm/src/module-info.java
